@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');

*{
    background-color:#414141;
    color: #dcdcdc;
}

.navbar{
        position: fixed;
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 30px;
        width: 100%;
        top: 0;
        left: 0;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

        a{
            text-decoration: none;
        }
        .nav_items{
            display: flex;
            padding: 0;
            margin: 0;
            gap: 30px;
            list-style: none;
            
            li a:hover {
                color: #c6e849;
            }
            button{
                padding: 5px 15px;
                background-color: #7b8d39;
                border:none;
                border-radius: 50px;
                cursor: pointer;
            }
            button:hover{
                background-color:#c6e849 ;
            }
        }
}

.lista{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    width: 100%;
    text-align: center;

    .table{
        margin-bottom: 60px;
        
    }
    
    table, td, th{
        
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        border: 1px solid rgb(155, 145, 81);
        min-height: 50px;
        padding: 5px 10px;
        border-collapse: collapse;
        margin:0 auto;
        width: 60%;
        text-align: center;
        

        a{
            font-size: 15px;
            color: #c6e849;
            position: relative;
            text-decoration: none;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
        }

    }
    thead{
        font-weight: bold;
        font-size: 25px;
        color: #6c704f;

    }

    h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    align-items:center;
    display: flex;
    font-size: 80px;
    color: #959674;
    }
    .link_baixo{
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        background-color:#6c704f;
        position: fixed;
        padding: 5px 0;
        
        border:1px #d87314;

        a{
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            
            margin-top: 20px;
            font-size: 30px;
            text-decoration: none;
            color: #f7fafe;
            background-color: #6c704f;
            
            
        }
    }
    .link_baixo:hover{
        background-color: #91957a;
        a{
            background-color: #91957a;
        }
    }

    
}





.cadastroL{
    *{
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        padding: 0;
        border: 0;
        align-items: center;
        justify-content: center;
        text-align: center;
        
        margin: 0 auto;
        
        
        
    }
    h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    align-items:center;
    display: flex;
    font-size: 80px;
    color: #959674;
    padding:60px;
    }
    a{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: sticky;
    top: 0;
    text-align: center;
    display: block;
    margin-top: 20px;
    font-size: 30px;
    text-decoration: none;
    }
    form{
        background-color: #202020;
        height:100x;
        width:300px;
        border-radius: 10px;
        padding:5px 30px;
        color: #d1d1bf;
    }
    h3{
        margin-bottom: 15px;
        font-size: 30px;
        color: #959674;
    }
    label{
        display:block;
        text-align: left;
        margin-left: 10px;
        font-size: 25px;
        background-color: #202020;
    }
    input{
        background-color: #333;
        color: #fff;
        height: 30px;    
        font-size: 15px;  
        border: 1px solid #ddd;  
        border-radius: 7px;
        width: 280px;
        font-size: 20px;
        text-align: left;
    }
     button{
        background-color: #1a2041;
        color:#fff;
        padding: 10px 15px;
        border:none;
        border-radius: 8px;
        cursor:pointer;
        font-size: 16px;
        margin-bottom: 10px;
    }
    button:hover{
        background-color: darkblue;
    }
}
.Detalhes{
    *{
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        
        
       
        
        
        
    }
    .Dados{
        background-color: #1a2041;
        height: 290px;
        padding: 10px;
        h1{
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            justify-content: center;
            align-items:center;
            display: flex;
            font-size: 80px;
            color: #91957a;
            margin-bottom: 10px;
            background-color: #1a2041;
        }
        h5{
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            justify-content: center;
            align-items:center;
            display: flex;
            font-size: 40px;
            color: #3a505e;
            margin-bottom: 10px;
            margin-top: 10px;
            background-color: #1a2041;
        }
        h6{
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            justify-content: center;
            align-items:center;
            display: flex;
            font-size: 15px;
            color: #4a7684;
            margin-bottom: 10px;
            margin-top: 5px;
            background-color: #1a2041;
        }

    }
    
    h3{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    align-items:center;
    display: flex;
    font-size: 20px;
    color: #d0cccc;
    margin-top: 40px;
    }
    h4{
        font-size: 20px;
        margin-bottom: 10px;
    }
    h6{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    align-items:center;
    display: flex;
    font-size: 15px;
    color: #3f3f3f;
    }
    a{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: sticky;
    top: 0;
    text-align: center;
    display: block;
    margin-top: 20px;
    font-size: 30px;
    text-decoration: none;
    }
    form{
        
        
        border-radius: 10px;
        padding:5px 10px;
        color: #d1d1bf;

        textarea{
            display: block;
            height: 200px;
            
        }
    }
    button{
        background-color: #1a2041;
        color:#fff;
        padding: 10px 15px;
        border:none;
        border-radius: 8px;
        cursor:pointer;
        font-size: 16px;
        margin-bottom: 10px;
        margin-top: 5px;
    }
    button:hover{
        background-color: darkblue;
    }
    
}
.contato{
    h1{
        padding-top: 150px;
        font-size: 70px;
        padding-left: 10px;
    }
    h1:hover{
        padding-top: 150px;
        font-size: 70px;
        padding-left: 10px;
        color: #00ff59;
    }
    h2, h3, h4, h5{
        text-align: left;
        padding-top: 20px;
        padding-left: 10px;
        
        
    }
    h2:hover, h3:hover, h4:hover, h5:hover{
        text-align: left;
        padding-top: 20px;
        color: #0adf55;
        
    }
}