@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');

*{
    background-color:#414141;
    color: #dcdcdc;
}

.navbar{
        position: fixed;
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 30px;
        width: 100%;
        top: 0;
        left: 0;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #414141;
        z-index: 1000;

        a{
            text-decoration: none;
        }
        .nav_items{
            display: flex;
            padding: 0;
            margin: 0;
            gap: 30px;
            list-style: none;
            
            li a:hover {
                color: #cbee04;
            }
            button{
                padding: 5px 15px;
                background-color: #000000;
                border:none;
                border-radius: 50px;
                cursor: pointer;
                
            }
            button:hover{
                background-color:#333d09 ;
            }
        }
}

.lista{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
    
    
  
    
.lista a{
    font-size: 15px;
    color: #000000;
    position: relative;
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

.cardsContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap:25px;
    margin-top: 40px;
}

.cardImagem{    
    overflow:scroll;
    border-radius: 12px;
    margin-bottom: 15px; 
}

.cardImagem img{
            
    object-fit:fill;
    width: 180px;
    height: 180px;
    border-radius: 6px;
}

.cardLivro{
    
    border-radius: 15px;
    padding: 1px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    gap:15px;
    justify-content: space-between;
    transition: transform 0.2 ease;
        
}
.cardLivro:hover{
    transform: translateY(-5px);
}

.cardConteudo h2{
    font-size: 18px;
    margin-bottom: 10px;
}
    
.cardConteudo p{
    margin: 4px 0;
    font-size:14px;
        
}
.cardLinks{
    
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
    text-align: center;
}
.cardLinks a{
    background-color: #cbee04;
    font-size: 20px;
    width: 100%;
    padding: 3px 0;
    font-weight: 600;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.2s ease, transform 0.2s ease;
    

    
    
}

thead{
    font-weight: bold;
    font-size: 25px;
    color: #6c704f;
}

.lista h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    align-items:center;
    display: flex;
    font-size: 80px;
    color: #959674;
}
.link_baixo{
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color:#6c704f;
    position: fixed;
    padding: 5px 0;
        
    border:1px #d87314;
}
.link_baixo a{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            
    margin-top: 20px;
    font-size: 30px;
    text-decoration: none;
    color: #f7fafe;
    background-color: #6c704f;
            
            
}
    
.link_baixo:hover{
    background-color: #91957a;
}
.link_baixo:hover a {
    background-color: #91957a;
}

    






.cadastroL{
    *{
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        padding: 0;
        border: 0;
        align-items: center;
        justify-content: center;
        text-align: center;
        
        margin: 0 auto;
        
        
        
    }
    h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    align-items:center;
    display: flex;
    font-size: 80px;
    color: #959674;
    padding:60px;
    }
    a{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: sticky;
    top: 0;
    text-align: center;
    display: block;
    margin-top: 20px;
    font-size: 30px;
    text-decoration: none;
    }
    form{
        background-color: #202020;
        height:100x;
        width:300px;
        border-radius: 10px;
        padding:5px 30px;
        color: #d1d1bf;
    }
    h3{
        margin-bottom: 15px;
        font-size: 30px;
        color: #959674;
    }
    label{
        display:block;
        text-align: left;
        margin-left: 10px;
        font-size: 25px;
        background-color: #202020;
    }
    input{
        background-color: #333;
        color: #fff;
        height: 30px;    
        font-size: 15px;  
        border: 1px solid #ddd;  
        border-radius: 7px;
        width: 280px;
        font-size: 20px;
        text-align: left;
    }
     button{
        background-color: #1a2041;
        color:#fff;
        padding: 10px 15px;
        border:none;
        border-radius: 8px;
        cursor:pointer;
        font-size: 16px;
        margin-bottom: 10px;
    }
    button:hover{
        background-color: darkblue;
    }
}
.Detalhes{
    *{
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        
        
       
        
        
        
    }
    
    .dados{
        background: linear-gradient(135deg, #1c2340, #0f1530);
        border-radius: 20px;
        height: 290px;
        padding: 40px;
        margin-top: 50px;

        display: flex;
        align-items: center;
        gap: 40px;
    
        h1{
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 42px;
            margin-bottom: 10px;
            color: #c6e849;
            background: linear-gradient(135deg, #1c2340, #0f1530);
            
        }
        h2{
            font-size: 22px;
            font-weight: 400;
            color:#b0b0b0;
            background: linear-gradient(135deg, #1c2340, #0f1530);
        }
        span{
            font-size: 14px;
            opacity: 0.7;
            background: linear-gradient(135deg, #1c2340, #0f1530);
        }

    }
    .dados img{
        width: 260px;
        height: 260px;
        object-fit: cover;

        border-radius: 12px;
        box-shadow: 0 15px 30px rgba(0,0,0,0.4);
        background-color: #111;
    }
    .linkVolta a{
            color:#91957a;
        }
    .linkOpina a{
        color:#1a2041;
    }
     .linkDetalhe a{
        color:#1a2041;
    }
    h3{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    align-items:center;
    display: flex;
    font-size: 20px;
    color: #d0cccc;
    margin-top: 40px;
    }
    h4{
        font-size: 20px;
        margin-bottom: 10px;
    }
    h6{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    align-items:center;
    display: flex;
    font-size: 15px;
    color: #3f3f3f;
    }
    a{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: sticky;
    top: 0;
    text-align: center;
    display: block;
    margin-top: 20px;
    font-size: 30px;
    text-decoration: none;
    }
    form{
        
        
        border-radius: 10px;
        padding:5px 10px;
        color: #d1d1bf;

        textarea{
            display: block;
            height: 200px;
            
        }
    }
    button{
        background-color: #1a2041;
        color:#fff;
        padding: 10px 15px;
        border:none;
        border-radius: 8px;
        cursor:pointer;
        font-size: 16px;
        margin-bottom: 10px;
        margin-top: 5px;
    }
    button:hover{
        background-color: darkblue;
    }
    
}

.imagem img{
        object-fit:fill;
        width: 180px;
        height: 180px;
        border-radius: 6px;
        background-color: #1a2041;
    }
.imagem{    
    overflow:scroll;
    border-radius: 12px;
    margin-bottom: 15px; 
}
.contato{
    h1{
        padding-top: 150px;
        font-size: 70px;
        padding-left: 10px;
    }
    h1:hover{
        padding-top: 150px;
        font-size: 70px;
        padding-left: 10px;
        color: #00ff59;
    }
    h2, h3, h4, h5{
        text-align: left;
        padding-top: 20px;
        padding-left: 10px;
        
        
    }
    h2:hover, h3:hover, h4:hover, h5:hover{
        text-align: left;
        padding-top: 20px;
        color: #0adf55;
        
    }
}