*{
    margin: 0;
    padding: 0;
    border: 0;
    background-color:#414141;
    color: #dcdcdc;

}
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #414141;
    display: flex;
    justify-content: center;
    align-items:center;
    height:100vh;
}
.login-container{
    background-color:#414141;
    padding:20px 50px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0.2);
    text-align: center;
    width:300px;
    height:300x;
    color: #dcdcdc;

    h1{
        margin-bottom: 20px;
        color:  #dcdcdc;;
    }
    .form-group{
        margin-bottom: 15px;
        text-align: left;
    }
    label{
        display: block;
        font-size:18px;
        margin-bottom: 5px;
        color: #dcdcdc
    }
    input{
        width: 280px;
        padding: 8px;
        font-size: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        outline:none;
    }
    button{
        background-color: #1a2041;
        color:#fff;
        padding: 10px 15px;
        border:none;
        border-radius: 8px;
        cursor:pointer;
        font-size: 16px;
        margin-bottom: 10px;
    }
    button:hover{
        background-color: darkblue;
    }
    a{
        text-decoration: none;
    }
}
.navbar{
        position: fixed;
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 30px;
        width: 100%;
        top: 0;
        left: 0;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #414141;
        z-index: 1000;

        a{
            text-decoration: none;
        }
        .nav_items{
            display: flex;
            padding: 0;
            margin: 0;
            gap: 30px;
            list-style: none;
            
            li a:hover {
                color: #cbee04;
            }
            button{
                padding: 5px 15px;
                background-color: #000000;
                border:none;
                border-radius: 50px;
                cursor: pointer;
                
            }
            button:hover{
                background-color:#333d09 ;
            }
        }
}