{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'styleLivro.css' %}">
    <title>Adicionar Capa</title>
</head>
<body>
    {% if user.is_authenticated %}
        <div class="formCapa">
            <h1>Adicionar capa para "{{ livro.titulo }}" </h1>
        
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <label for="imagem">Selecione a imagem da capa:</label>
                <input type="file" name="imagem" required>

                <button type="submit">Salvar</button>
            </form>
        
            <a href="{% url 'detalhes_livro' livro.slug %}">Voltar</a>
        </div>
    {% else %}
        <br><br><br><br><br><br>
        <p><a href="{% url 'login' %}">Faça login para adicionar uma capa</a>  </p>
    {% endif %}


</body>
</html>
