{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'styleLivro.css' %}">
    <title>Adicionar Capa</title>
    <link rel="shortcut icon" href="{% static  'img/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <nav class="navbar">
            <ul class="nav_items">
                <li>Olá {{ user.username }}!</li>
                <li><a href="{% url 'lista_livros' %}" title="Ir para a lista de livros">Lista</a></li>
                <li><a href="{% url 'cadastro_livro' %}" title="Cadastrar novo livro"> Cadastrar novo livro</a></li>
                <li><a href="{% url 'contato' %}" title="Contato">Contato</a></li>
                {% if user.is_authenticated %}
                <li><form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Sair</button>
                </form></li>
                {% else %}
                <li><a href="{% url 'login' %}" title="Login">Entrar</a></li>
                {% endif %}
                
                
            </ul>
        </nav>
    {% if user.is_authenticated %}
        <div class="formCapa">
            <h1>Adicionar capa para "{{ livro.titulo }}" </h1>
        
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <label for="imagem">Selecione a imagem da capa:</label>
                <input type="file" name="imagem" required>

                <button type="submit">Salvar</button>
            </form>
        
            <a href="{% url 'detalhes_livro' livro.slug %}">Voltar</a>
        </div>
    {% else %}
        <br><br><br><br><br><br>
        <p><a href="{% url 'login' %}">Faça login para adicionar uma capa</a>  </p>
    {% endif %}


</body>
</html>
