<!-- interface page for the register of books -->
<!DOCTYPE html>
<html>
    <head>
        <title>Cadastrar Livro</title>
    </head>
    <body>
        <h1>Cadastrar Novo Livro</h1>
        <form method = "post">
            {% csrf_token %} <!--protect against CSFR attacks-->
            {{ form.as_p }} <!--render the fields to be filled-->
            <button type="submit">Salvar</button>
        </form>
        <a href="{% url 'listar_livros' %}">Voltar para a lista</a> <!--go back to list page-->
    </body>
</html>