<!--interface to show a list of books and a option below to redirect to register page of new books-->
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'styleLivro.css' %}">
        <title>Lista de Livros</title>
    </head>
    <body>
        <nav class="navbar">
            <ul class="nav_items">
                <li>Olá {{ user.username }}!</li>
                <li><a href="{% url 'lista_livros' %}" title="Ir para a lista de livros">Lista</a></li>
                <li><a href="{% url 'cadastro_livro' %}" title="Cadastrar novo livro"> Cadastrar novo livro</a></li>
                <li><a href="{% url 'contato' %}" title="Contato">Contato</a></li>
                {% if user.is_authenticated %}
                <li><form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Sair</button>
                </form></li>
                {% else %}
                <li><a href="{% url 'login' %}" title="Login">Entrar</a></li>
                {% endif %}
                
                
            </ul>
        </nav>
        <div class="lista">
            <h1>Livros Cadastrados</h1>
            <div class="cardsContainer">
                {% for livro in livros%}
                    <div class="cardLivro">
                        <div class="cardImagem">
                            {% if livro.imagem %}
                                <img src="{{ livro.imagem.url }}" alt="Capa do livro {{ livro.titulo }}">
                            {% else %}
                                <img src="{% static 'img/sem_capa.png' %}" alt="Livro sem imagem">
                            {% endif %}
                        </div>
                        <div class="cardConteudo">
                            
                                <h2>{{ livro.titulo }}</h2>  
                                <p>{{ livro.autor }}</p>
                                <p>{{ livro.ano_publicacao }}</p>
                                <p>{{ livro.editora }}</p> 
                        </div>
                        <div class="cardLinks">
                                <a href= "{% url 'detalhes_livro' livro.slug %}">Detalhes</a><br>
                                <a href= "{% url 'opiniao_livro' livro.slug %}">Opiniões</a>
                            
                        </div>
                    </div>
                {% empty %} <!--if there is no book registered-->
                    <li> Nenhum livro cadastrado ainda. Que tal cadastrar algum? </li>
                {% endfor %}
            </div>
            <div class="link_baixo">
                <a href = "{% url 'cadastro_livro' %}" title="Ir para cadastro de livros">Cadastrar novo livro</a> <!--button to redirect to the page of register-->
            </div>
        </div>
    </body>
</html>