<!--interface to show a list of books and a option below to redirect to register page of new books-->
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'styleLivro.css' %}">
        <title>Lista de Livros</title>
    </head>
    <body>
        <nav class="navbar">
            <ul class="nav_items">
                <li>Olá {{ user.username }}!</li>
                <li><a href="{% url 'lista_livros' %}" title="Ir para a lista de livros">Lista</a></li>
                <li><a href="{% url 'cadastro_livro' %}" title="Cadastrar novo livro"> Cadastrar novo livro</a></li>
                <li><a href="{% url 'contato' %}" title="Contato">Contato</a></li>
                {% if user.is_authenticated %}
                <li><form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Sair</button>
                </form></li>
                {% else %}
                <li><a href="{% url 'login' %}" title="Login">Entrar</a></li>
                {% endif %}
                
                
            </ul>
        </nav>
        <div class="lista">
            <h1>Livros Cadastrados</h1>
            <div class="table">
            <table>
                <div class="colunas">
                    <thead>
                        <tr>
                            <td>Título</td>
                            <td>Autor</td>
                            <td>Ano </td>
                            <td>Editora</td>
                        </tr>
                    </thead>
                </div>
                <tbody>
                    <div class="items">
                    {% for livro in livros%}
                        <tr>
                            <td>{{ livro.titulo }}  </td>
                            <td>{{ livro.autor }}  </td>
                            <td>{{ livro.ano_publicacao }}</td>
                            <td>{{ livro.editora }}  </td>
                            <td> <a href= "{% url 'detalhes_livro' livro.slug %}">Detalhes</a></td>
                            <td> <a href= "{% url 'opiniao_livro' livro.slug %}">Opiniões</a></td>
                        </tr>
                    {% empty %} <!--if there is no book registered-->
                        <li> Nenhum livro cadastrado ainda. Que tal cadastrar algum? </li>
                    {% endfor %}
                    </div>
                </tbody>
            </table>
            </div>
            <div class="link_baixo">
                <a href = "{% url 'cadastro_livro' %}" title="Ir para cadastro de livros">Cadastrar novo livro</a> <!--button to redirect to the page of register-->
            </div>
        </div>
    </body>
</html>