{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'styleLivro.css' %}">
    <title>Detalhes do livro</title>
    <link rel="shortcut icon" href="{% static  'img/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <nav class="navbar">
            <ul class="nav_items">
                <li>Olá {{ user.username }}!</li>
                <li><a href="{% url 'lista_livros' %}" title="Ir para a lista de livros">Lista</a></li>
                <li><a href="{% url 'cadastro_livro' %}" title="Cadastrar novo livro"> Cadastrar novo livro</a></li>
                <li><a href="{% url 'contato' %}" title="Contato">Contato</a></li>
                {% if user.is_authenticated %}
                <li><form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Sair</button>
                </form></li>
                {% else %}
                <li><a href="{% url 'login' %}" title="Login">Entrar</a></li>
                {% endif %}
                
                
            </ul>
        </nav>
    <div class="Detalhes">
        <div class="dados">
        <div class="imagem">
        {% if livro.imagem  %}
            <img src="{{livro.imagem.url}}" alt="Capa do livro {{livro.titulo}}">
        {% else %}
            <img src="{%static 'img/sem_capa.png' %}" alt="Livro sem capa">
        {% endif %}
        </div>
        <h1>{{ livro.titulo }}</h1><br>
        <h2>{{ livro.autor }}</h2>
        <span>{{ livro.ano_publicacao }}</span><br>
        <span>{{ livro.editora }}</span><br>
        </div>
            
        <h3>Opiniões enviadas:</h3>
        <ul>
            {% for opiniao in opinions %}
                <li>{{ opiniao.conteudo }} <small>(Por {{ opiniao.autor.username }} em {{ opiniao.criado_em|date:"d/m/Y H:i" }})</small></li><br><br>
            {% empty %}
                <li>Nenhuma opinião ainda, que tal dar o primeiro passo?</li>
            {% endfor %}
        </ul>
        <div class="linkVolta">
            <a href="{% url 'lista_livros' %} ">Voltar para a Lista de Livros</a>
        </div>
        <br>
        <div class="linkDetalhe">
            <a href="{% url 'detalhes_livro' livro.slug %}">Ir para a pagina de detalhes</a>
        </div>
        <hr><br><br>
        {% if user.is_authenticated %}
        <h4>Adicione uma opinião:</h3>
        <form method="POST">
            {% csrf_token %}
            <textarea name="conteudo"  cols="150" placeholder="Escreva sua opinião aqui"></textarea>
            <button type="submit">Enviar</button>
        </form>
        {% else %}
        <p><a href="{% url 'login' %}">Faça login para adicionar uma opinião.</a></p>
        {% endif %}
    </div>
</body>
</html>