<!DOCTYPE html>
<htnml>
    <head>
        <meta charset="UTF-8">
       <title>Faça seu Cadastro</title>
    </head>
    <body>
        {% if mensagem %}
            <p style="color:red">{{mensagem}}</p>
        {% endif %}

        <h1>Digite suas credenciais:</h1>
        <form method="post">
            {% csrf_token %}

            <label for="usuario">Usuário:</label>
            <input type="text" id="usuario" name="usuario" required><br><br>

            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" required><br><br>

            <label for="confirmar_senha">Confirmar senha:</label>
            <input type="password" id="confirmar_senha" name="confirmar_senha"><br><br><br>


            <button type="submit">Enter</button>

        </form>
        <a href = "{% url 'login' %}" title= "Login">Voltar para o Login</a>
    </body>
</htnml>