{% load static %}

<!DOCTYPE html>
<htnml lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'styleUsuario.css' %}">
       <title>Faça seu Login</title>
       <link rel="shortcut icon" href="{% static  'img/favicon.ico' %}" type="image/x-icon">
    </head>
    <body>
        <nav class="navbar">
            <ul class="nav_items">
                <li>Olá {{ user.username }}!</li>
                <li><a href="{% url 'lista_livros' %}" title="Ir para a lista de livros">Lista</a></li>
                <li><a href="{% url 'cadastro_livro' %}" title="Cadastrar novo livro"> Cadastrar novo livro</a></li>
                <li><a href="{% url 'contato' %}" title="Contato">Contato</a></li>
                {% if user.is_authenticated %}
                <li><form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Sair</button>
                </form></li>
                {% else %}
                <li><a href="{% url 'login' %}" title="Login">Entrar</a></li>
                {% endif %}
                
                
            </ul>
        </nav>
        <div class="login-container">
            {% if mensagem %}
                <p style="color:red">{{mensagem}}</p>
            {% endif %}

            <h1>Login</h1>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="Usuario">Usuário:</label>
                    <input type="text" id="usuario" name="usuario" required><br><br>
                </div>
                <div class="form-group">
                    <label for="senha">Senha:</label>
                    <input type="password" id="senha" name="senha" required><br><br>
                </div>

                <button type="submit">Entrar</button>
            </form>
            <a href = "{% url 'cadastro' %}" title= "Ir para Cadastro">Não possui uma conta? Cadastre-se já</a>
        </div>
    </body>
</htnml>