{% load static %}

<!DOCTYPE html>
<htnml lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'styleUsuario.css' %}">
       <title>Faça seu Login</title>
    </head>
    <body>
        <div class="login-container">
            {% if mensagem %}
                <p style="color:red">{{mensagem}}</p>
            {% endif %}

            <h1>Login</h1>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="Usuario">Usuário:</label>
                    <input type="text" id="usuario" name="usuario" required><br><br>
                </div>
                <div class="form-group">
                    <label for="senha">Senha:</label>
                    <input type="password" id="senha" name="senha" required><br><br>
                </div>

                <button type="submit">Entrar</button>
            </form>
            <a href = "{% url 'cadastro' %}" title= "Ir para Cadastro">Não possui uma conta? Cadastre-se já</a>
        </div>
    </body>
</htnml>